@import "tailwindcss";

@theme {
  --font-sans: 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-mono: 'JetBrains Mono', 'Courier New', 'monospace';
  
  --color-brand-bg: #F8FAFC;
  --color-brand-text: #1E293B;
  --color-brand-border: #E2E8F0;
  --color-brand-secondary: #64748B;
  --color-brand-panel-header: #F1F5F9;
  --color-brand-primary: #2563EB;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  @apply antialiased font-sans;
}
